@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    max-width: 1200px;
    margin: 0 auto;
    background-color:var(--search-bar);
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

nav{
    position: fixed;
    top:0;
    left:0;
    height:60px;
    background-color: var(--search-bar);
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu .nav-links {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.menu .btn-contato {
    margin-left: 5px;
}

nav .nav-primary{
    position: sticky;
    top: 0;
    height: 100%;
    max-width: 1280px;
    width: 100%;
    background-color: var(--nav-color);
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
}    

nav .nav-primary li a{
    padding:10px;
    font-size: 1.2rem;
}

.nav-primary .nav-links{
    display:flex;
    align-items: center;
}

.nav-primary .nav-links li a:hover{
    color: var(--search-text);
    transition: 0.3s all;
}

section.topo-do-site .img {
    position: relative;
    width: 350px;
    height: 650px;
    max-width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 0 ;
    margin: 0;
    background: transparent;
    border: none;
    z-index: 1;
}

section.topo-do-site .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    display: block;
    padding: 30px;
}

.nav-primary .nav-links li{
    list-style: none;
    margin: 0 5px;
}

.nav-links li a{
    position:relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    color: var(--text-color);
    padding:10px;
}

nav .nav-primary .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.nav-links li a::before{
    content:'';
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(50%);
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: var(--text-color);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-links li:hover a::before{
    opacity: 1;
}

.flex{
    display:flex; 
}

:root{
    --body-color: #1d2020;
    --nav-color: #0b0c64;
    --sid-nav: #30918F;
    --text-color: #ffffff;
    --search-bar: #0d0552;
    --search-text: #1FBBB8;
} 

.background{
    background-color: var(--body-color);
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

header{
    justify-content: space-around;
    padding: 50px;
    text-align: center;
    padding-top: 1rem;
    display:flex;
    align-items: center;
}

header > .nav-primary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto; 
    padding: 0 30px;
    margin-top: 100px;
}

header a{
    color: var(--text-color);
    text-decoration: none;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    margin-right: 20px;
    padding: 0 40px;
}

header .btn-contato button{
    background: transparent;
    padding: 5px 40px;
    border: 1px solid var(--search-text);
    color: var(--search-text);
    border-radius: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
#menu-toggle {
    display: none;
}

.btn-abrir-menu i {
    color: var(--search-text);
    font-size: 40px;
    padding: 0 10px;
    cursor: pointer;
}

.menu-mobile {
    background-color: var(--search-bar);
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 0;
    overflow: hidden;
    transition: 0.4s ease;
}

#menu-toggle:checked ~ .menu-mobile {
    width: 20%;
}

.menu-mobile .btn-fechar {
    padding: 20px 5%;
    cursor: pointer;
}

.menu-mobile .btn-fechar i {
    color: #1FBBB8;
    font-size: 30px;
    margin-right: 100%;
}

.menu-mobile ul {
    text-align: right;
}

.menu-mobile ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 20px 5%;
    height: -10px;
    border-radius: 20px;
    width: 90px;
    display: block;
}

.menu-mobile ul li a:hover {
    color: var(--search-text);
    transition: 0.3s all;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9990;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease;
}

#menu-toggle:checked ~ .overlay {
    opacity: 1;
    pointer-events: all;
}

h2.title {
    color: var(--text-color);
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    margin: 20px 0;
    padding: 10px 30px;
    display: inline;
    width: auto;
    white-space: nowrap;
    height: auto;
    line-height: 1.5;
    white-space: normal;    
}
h2.title span {
    color: var(--sid-nav);
    font-size: 34px;
    text-align: center;
    font-weight: 500;
    margin: 20px 0;
    padding: 0 0 4px;
    display: inline-flex;
    white-space: nowrap;
    height: auto;           
}
button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px var(--sid-nav);
    background: var(--search-text);
    color: #fff;
    transition: 0.5s all;
    transform: scale(1.05);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 3rem;
    font-weight: 300;
    cursor: pointer;
}

.nav-links a{
    color: #fff;
    font-size: 12px;
}

.nav-links a :hover{
    color: var(--search-text);
    transition: 0.3s all;
}

.logo{
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid var(--search-text);
    color: var(--search-text);
    border-radius: 60%;
    display:inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
} 

.logo:hover{
    box-shadow: 0px 0px 8px #1fbbb8fa;
    background: var(--search-text);
    color: #fff;
    transition: 0.5s all;
}

.topo-do-site button :hover{
    box-shadow: 0px 0px 8px var(--search-text);
}

.container-text{
    padding: 150px 0 0 130px;
}
.seletor {
    display: flex;
}

nav .nav-primary .search-bar button {
    height: 40px;
    border-radius: 20px;
    border: none;
    margin-left: 10px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--body-color);
    transition: background 0.3s;
}

nav .nav-primary .search-bar button:hover {
    background-color: var(--search-text);
    color: #fff;
}

nav .nav-primary .search-bar input {
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    background-color: var(--search-bar);
}

nav .nav-primary .search-bar input::placeholder {
    color: var(--text-color);
}

section.topo-do-site{
    padding: 60px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.text h3{
    color: var(--text-color);
    font-size: 23px;
    line-height: 20px;
    margin-top: 80px;
}
.text h1{
    color: var(--text-color);
    margin-top: 5px;
    font-size: 2.3rem;
}
.text h1 span{
    color: var(--search-text);
}
.text p{
    color: var(--text-color);
    margin: 5px;
    margin-top: 5px;
}
.text p span{
    color: var(--text-color);
    font-size: 19px;
}

.interface{
    color: var(--text-color);
    display: flex;
    align-items: center;
}
.interface span{
    color: var(--search-text);
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
    align-items: center;
}
section .sobre{
    padding: 80px 4%;
    padding-top: 110px;
    padding-bottom: 40px;
    padding-left: 4%;
    padding-right: 4%;
}
nav, header {
    z-index: 100;
}

section.sobre .img-sobre{
    position: sticky;
    top: 70px;
    width: 750px;
    height: 420px;
    max-width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 0;
    background: transparent;
    border: none;
    z-index: 10;
}

section.sobre .img-sobre img {
    width: 100%;
    height: 90%; 
    object-fit: cover;
    border-radius: 10px;
    display: block;
    box-shadow: 0 0 20px #ffffff49;
    padding: 5px;
}
section.sobre .flex{
    gap: 60px;
    align-items: center;
    justify-content: center;
}
.sobre .txt-sobre{
    color: var(--text-color);
}
.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}
.sobre .txt-sobre h2 span{
    color: var(--sid-nav);
    display: block;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}
.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: var(--sid-nav);
    font-size: 23px;
    cursor: pointer;
    margin: 0 5px;
    transition: 0.2s;
}
section.projetos{
    padding: 80px 4%;
    margin-top: 0px;
    padding-top: 110px;
    padding-bottom: 40px;
}

section .projetos .flex{
    gap: 60px;
}

.projetos .projetos-box{
    color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 45px;
    margin: 20px;
    transition: 1.2s;
}

.projetos .projetos-box i{
    font-size:70px;
    color: var(--sid-nav);
    padding: 40px;
}

.projetos .projetos-box h3{
    font-size: 28px;
    margin: 15px 10px;
}

.projetos .projetos-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffffd3;
}

.interface .title {
    margin-top: 0;       
    margin-bottom: 0;    
}

.interface h2 {
    display: inline-block;   
    width: auto;             
    white-space: nowrap;     
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    margin: 0 auto;
}
.interface span {
    display: inline;         
    color: var(--search-text);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    padding: 5px;
    margin: 0 auto;
}
.habilidades h2{
    display: inline-block;   
    width: auto;             
    white-space: nowrap;     
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
    padding: 0 1%;
    font-weight: 600;
    color: var(--text-color);
    margin: 5px auto;
    margin-top: 5%;       
}
.habilidades span{
    display: inline;         
    color: var(--search-text);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    padding: 30px 0;
    margin: 0 auto;
}
.habilidades {
    width: 500px;
    padding: 0 50px;
    border-radius: 20px;
    margin: 0 auto;
    background-color: var(--nav-color);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.199);
    font-size: large;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habilidades h3 {
    color: var(--text-color);
    padding: 3.5px;
    text-align: center;
}

.habilidades ul {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
}

.habilidades ul li {
    margin: 20px 0;
    padding: 0;
}

.habilidades .barras {
    background-color: #ccc;
    height: 10px;
    border-radius: 20px;
    display: block;
    padding: 4% 0;
    position: relative;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.barras > span {
    height: 10px;
    padding: 10% 0;
    margin-top: -20px;
    background: linear-gradient(to right, #2B3333,#30918F);
    position: absolute;
}
.html{
    width:40.9%;
    animation: html 3s;
}
.css{
    width:40%;
    animation: css 3s;
}
.python{
    width:70%;
    animation: python 3s;
}
.java{
    width:30%;
    animation: java 3s;
}
.redes{
    width:50%;
    animation: redes 3s;
}
@keyframes html {
    0%{
        width:0%;
    }
    100%{
        width: 40.9%;
    }
}
@keyframes css {
    0%{
        width:0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes python {
    0%{
        width:0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes java {
    0%{
        width:0%;
    }
    100%{
        width: 30%;
    }
}
@keyframes redes {
    0%{
        width:0%;
    }
    100%{
        width: 50%;
    }
}

section .curiosidades{
    padding: 80px 4%;
    margin-top: 0px;
    padding-top: 110px;
    padding-bottom: 40px;
}
section .curiosidades .flex{
    gap: 60px;
}

.curiosidades .curiosidades-box{
    color: var(--text-color);
    padding: 20px;
    border-radius: 20px;
    margin-top: 45px;
    margin: 20px;
    transition: 1.2s;
}

.curiosidades .curiosidades-box i{
    font-size:70px;
    color: var(--sid-nav);
    padding: 40px;
}

.curiosidades .curiosidades-box h3{
    font-size: 28px;
    margin: 15px 10px;
}

.curiosidades .curiosidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffffd3;
}
.txt-curiosidades h2 {
    display: inline-block;   
    width: auto;             
    white-space: nowrap;     
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--text-color);
    padding: 0 20px;
}
.txt-curiosidades span {
    display: inline;         
    color: var(--search-text);
    font-size: 2.2rem;
    font-weight: 600;
    margin: 0;
    padding: 5px;
    margin: 0 auto;
}
.txt-curiosidades p{
    padding: 5px 20px;
}
section.contato{
    padding: 80px 4%;
}
form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}
form input, form textarea{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.212);
    border:0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: var(--text-color);
    font-size: 18px;
}
form textarea{
    resize: none;
    max-height: 160px;
}
form .btn-enviar{
    margin-top: 20px;
    color: var(--text-color);
    font-weight: 700;
    cursor: pointer;
}
form .btn-enviar input{
    width: 120px;
    text-align: center;
}

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #3436b879;
}
footer .flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.line-footer .flex {
    justify-content: flex-end;
}
footer .line-footer p i{
    color: var(--sid-nav);
    padding: 0 10px;
}
footer .line-footer p a{
    color: var(--text-color);
}
footer .line-footer p{
    padding: 0 20px;
}
.flex {
    width: 100%;
}
footer .line-footer{
    padding: 20px 0;
}
section {
    box-shadow: 0 -8px 16px -8px #3436b879 inset;
    border-top: 2px solid #f8fafa25;
    margin-top: 60px;              
    padding-top: 40px;             
}
section:first-of-type {
    border-top: none;
    margin-top: 0;
}
section {
    box-shadow: 0 -8px 16px -8px #3436b879 inset;
    margin-top: 60px;
    padding-top: 40px;
}
section:first-of-type {
    box-shadow: none;
    margin-top: 0;
}
hr.divisor {
    border: none;
    box-shadow: 0 -8px 16px -8px #3436b879 inset;
    margin: 60px 0 40px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (max-width: 1020px){

    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .menu, .btn-contato {
        display: none;
    }

    .text h1 {
        font-size: 30px;
    }

    section.topo-do-site {
        padding: 20px 8%;
    }

    section.topo-do-site .img {
        width: 90%;
        height: auto;
        margin: 0 auto;
        max-width: 100%;
        display: block;
        border-radius: 10px;
    }

    section.projetos {
        padding: 40px 8%;
    }

    h2.title {
        padding: 5px;
        font-size: 34px;
        line-height: 30px;
    }

    .projetos .projetos-box i {
        font-size: 38px;
        padding: 40px 0;
    }

    .projetos .projetos-box h3 {
        font-size: 28px;
        margin: 10px 0.5px;
    }

    .projetos .projetos-box p {
        font-size: 15px;
    }

    section.sobre {
        padding: 80px 8%;
    }

    .sobre .flex {
        flex-direction: column-reverse;
    }

    section.sobre .img-sobre img {
        width: 90%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        display: block;
        padding: 5px;
        margin: 0 auto;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social {
        text-align: center;
    }

    .sobre .txt-sobre p {
        margin: 20px 0;
        padding: 3px 5px;
        text-align: justify;
    }

    .habilidades {
        width: 320px;
        padding: 5px 50px;
        display: flex;
    }

    .habilidades h2 {
        font-size: 23px;
    }

    .habilidades span {
        font-size: 23px;
    }

    .curiosidades .curiosidades-box i {
        font-size: 38px;
        padding: 40px 10px;
    }

    .curiosidades .curiosidades-box h3 {
        font-size: 24px;
        margin: 10px 0.5px;
    }

    .curiosidades .curiosidades-box p {
        font-size: 15px;
    }

    section.contato {
        text-align: center;
    }

    footer .flex {
        flex-direction: column;
    }

    footer .line-footer {
        text-align: center;
    }
}
